<center>

  <h1>Users</h1>

</center>



<div class="container">





  <button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd" id="adduser">Add New</button>

  <table class="table table-striped" id="mytable">

    <thead>

      <tr>

        <th>User ID</th>

        <th>User Name</th>

        <th>User FullName</th>

        <th>User Passcode</th>

          <th>User Mobile</th>

      </tr>

    </thead>

    <tbody>

      {{#each user}}

      <tr>

        <td>{{ userid }}</td>

        <td>{{ username }}</td>

        <td>{{ userfullname }}</td>

        <td>{{ userpasscode }}</td>

        <td>{{ usermobile }}</td>


        <td>
          <a href="usersurveys/{{ userid }}" class="btn btn-sm btn-primary usersurveys"
            data-userid="{{ userid }}">Assigned Surveys</a>

             <a href="unassignedusersurveys/{{ userid }}" class="btn btn-sm btn-primary unassignedusersurveys"
            data-userid="{{ userid }}">UnAssigned Surveys</a>

           <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-userid="{{ userid }}"
            data-username="{{ username }}" data-userfullname="{{ userfullname }}"
            data-userpasscode="{{ userpasscode }}" data-usermobile="{{ usermobile }}">Edit</a>

          <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-userid="{{ userid }}">Delete</a>

        </td>

      </tr>

      {{/each}}

    </tbody>

  </table>

</div>



<!-- Modal Add User-->

<form action="/saveuser" method="post">

  <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">

    <div class="modal-dialog" role="document">

      <div class="modal-content">

        <div class="modal-header">

          <h5 class="modal-title" id="exampleModalLabel">Add New User</h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">

            <span aria-hidden="true">&times;</span>

          </button>

        </div>

        <div class="modal-body">

          <div class="form-group">

            <input type="text" name="username" class="form-control" placeholder="User Name" required>

          </div>



          <div class="form-group">

            <input type="text" name="userfullname" class="form-control" placeholder="User Full Name" required>

          </div>



          <div class="form-group">

            <input type="text" name="userpasscode" class="form-control" placeholder="User Passcode" required>

          </div>

          <div class="form-group">

            <input type="text" name="usermobile" class="form-control" placeholder="User Mobile" required>

          </div>





        </div>

        <div class="modal-footer">

          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          <button type="submit" class="btn btn-primary">Save</button>

        </div>

      </div>

    </div>

  </div>

</form>











<!-- Modal Update User-->

<form action="/updateuser" method="post">

  <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">

    <div class="modal-dialog" role="document">

      <div class="modal-content">

        <div class="modal-header">

          <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">

            <span aria-hidden="true">&times;</span>

          </button>

        </div>

        <div class="modal-body">

          <div class="form-group">

            <input type="text" name="username" class="form-control username" placeholder="User Name" required>

          </div>



          <div class="form-group">

            <input type="text" name="userfullname" class="form-control userfullname" placeholder="User Full Name"
              required>

          </div>

          <div class="form-group">

            <input type="text" name="userpasscode" class="form-control userpasscode" placeholder="User Passcode"
              required>

          </div>

           <div class="form-group">

            <input type="text" name="usermobile" class="form-control usermobile" placeholder="User Mobile"
              required>

          </div>

        </div>

        <div class="modal-footer">

          <input type="hidden" name="userid" class="id">

          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          <button type="submit" class="btn btn-primary">Update</button>

        </div>

      </div>

    </div>

  </div>

</form>



<!-- Modal Delete Survey-->

<form id="add-row-form" action="/deleteuser" method="post">

  <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">

    <div class="modal-dialog">

      <div class="modal-content">

        <div class="modal-header">

          <h5 class="modal-title" id="myModalLabel">Delete User</h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>

        </div>

        <div class="modal-body">

          <strong>Are you sure to delete this user?</strong>

        </div>

        <div class="modal-footer">

          <input type="hidden" name="userid" class="form-control id2" required>

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

          <button type="submit" class="btn btn-success">Delete</button>

        </div>

      </div>

    </div>

  </div>

</form>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<script>

  $(document).ready(function () {



    //showing data to edit modal

    $('#mytable').on('click', '.edit', function () {

      var userid = $(this).data('userid');

      var username = $(this).data('username');

      var userfullname = $(this).data('userfullname');

      var userpasscode = $(this).data('userpasscode');

      var usermobile = $(this).data('usermobile');

      $('#EditModal').modal('show');

      $('.id').val(userid);

      $('.username').val(username);

      $('.userfullname').val(userfullname);

      $('.userpasscode').val(userpasscode);

      $('.usermobile').val(usermobile);



    });



    //showing delete record modal

    $('#mytable').on('click', '.delete', function () {

      var userid = $(this).data('userid');

      $('#DeleteModal').modal('show');

      $('.id2').val(userid);

    });







    //showing add record modal

    $('#container').on('click', '.save', function () {

      var username = $(this).data('username');

      var userfullname = $(this).data('userfullname');

      var userpasscode = $(this).data('userpasscode');

      var usermobile = $(this).data('usermobile');

      $('#myModalAdd').modal('show');

      $('.username').val(username);

      $('.userfullname').val(userfullname);

      $('.userpasscode').val(userpasscode);

       $('.usermobile').val(usermobile);

    });



  });



  $('#adduser').on('click', function () {

    var username = $(this).data('username');

    var userfullname = $(this).data('userfullname');

    var userpasscode = $(this).data('userpasscode');

    var usermobile = $(this).data('usermobile');

    $('#myModalAdd').modal('show');

    $('.username').val(username);

    $('.userfullname').val(userfullname);

    $('.userpasscode').val(userpasscode);

     $('.usermobile').val(usermobile);



  });





</script>